In [125]:
import numpy as np
import pandas as pd
import tensorflow as tf

### Importing the dataset

In [126]:
df = pd.read_csv('Churn_Modelling.csv')
df.head(10)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
5,6,15574012,Chu,645,Spain,Male,44,8,113755.78,2,1,0,149756.71,1
6,7,15592531,Bartlett,822,France,Male,50,7,0.00,2,1,1,10062.80,0
7,8,15656148,Obinna,376,Germany,Female,29,4,115046.74,4,1,0,119346.88,1
8,9,15792365,He,501,France,Male,44,4,142051.07,2,0,1,74940.50,0
9,10,15592389,H?,684,France,Male,27,2,134603.88,1,1,1,71725.73,0

In [127]:
df.info() # there are no missing values in any column

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

### Preprocessing the data

In [128]:
X = df.loc[:,['CreditScore','Geography','Gender','Age','Tenure','Balance','NumOfProducts','HasCrCard','IsActiveMember','EstimatedSalary']]
X.head(5)

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,Female,42,2,0.00,1,1,1,101348.88
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58
2,502,France,Female,42,8,159660.80,3,1,0,113931.57
3,699,France,Female,39,1,0.00,2,0,0,93826.63
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10

In [129]:
y = df.loc[:,'Exited']
y.head(5)

0    1
1    0
2    1
3    0
4    0
Name: Exited, dtype: int64

#### Encoding the categorical data

In [130]:
# we are performing OneHot encoding on the categorical variables
from sklearn.preprocessing import OneHotEncoder
oh_ec = OneHotEncoder(sparse=False,drop="first")

In [131]:
encoded_arr = oh_ec.fit_transform(X.loc[:,['Geography','Gender']])
cat_df = pd.DataFrame(encoded_arr,columns=['Spain','Germany','Male'])

In [132]:
X = X.drop(columns = ['Geography','Gender'])
X.head(5)

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,42,2,0.00,1,1,1,101348.88
1,608,41,1,83807.86,1,0,1,112542.58
2,502,42,8,159660.80,3,1,0,113931.57
3,699,39,1,0.00,2,0,0,93826.63
4,850,43,2,125510.82,1,1,1,79084.10

In [133]:
X = pd.concat([X,cat_df],axis=1)
X.head(5)

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Spain,Germany,Male
0,619,42,2,0.00,1,1,1,101348.88,0.0,0.0,0.0
1,608,41,1,83807.86,1,0,1,112542.58,0.0,1.0,0.0
2,502,42,8,159660.80,3,1,0,113931.57,0.0,0.0,0.0
3,699,39,1,0.00,2,0,0,93826.63,0.0,0.0,0.0
4,850,43,2,125510.82,1,1,1,79084.10,0.0,1.0,0.0

### Splitting the dataset into training set and test set

In [134]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=0)

### Feature Scaling

In [135]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
sc.fit(X_train)
X_train_scaled = sc.transform(X_train)
X_test_scaled = sc.transform(X_test)

In [136]:
y_train_vals = y_train.iloc[:].values
y_test_vals = y_test.iloc[:].values

### Building ANN using tensorflow

In [137]:
ann = tf.keras.models.Sequential()

#### adding hidden layers

In [138]:
# we dont need to add input layer , it will be initialized automatically
# adding first hidden layer of 6 neurons
ann.add(tf.keras.layers.Dense(units=6,activation='relu'))
# adding a second hidden layer of 6 neurons
ann.add(tf.keras.layers.Dense(units=6,activation='relu'))

#### adding output layer

In [139]:
ann.add(tf.keras.layers.Dense(units=1,activation='sigmoid'))

### Training the ann

#### compiling the ann

In [140]:
ann.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

In [141]:
ann.fit(X_train_scaled,y_train_vals,batch_size=32,epochs= 100)

Epoch 1/100
250/250 [==============================] - ETA: 0s - loss: 0.6070 - accuracy: 0.72 - 1s 2ms/step - loss: 0.6016 - accuracy: 0.7268
Epoch 2/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4619 - accuracy: 0.8033
Epoch 3/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4324 - accuracy: 0.8101
Epoch 4/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4206 - accuracy: 0.8165
Epoch 5/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4109 - accuracy: 0.8251
Epoch 6/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4003 - accuracy: 0.8330
Epoch 7/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3899 - accuracy: 0.8411
Epoch 8/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3802 - accuracy: 0.8449
Epoch 9/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3715 - accuracy: 0.8465
Epoch 10/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3653 - accuracy: 0.8504
Epoch 11/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3604 - accuracy: 0.8512: 0s - loss: 0.3599 - accuracy: 0.
Epoch 12/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3570 - accuracy: 0.8533
Epoch 13/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3545 - accuracy: 0.8545
Epoch 14/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3529 - accuracy: 0.8540
Epoch 15/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3511 - accuracy: 0.8560
Epoch 16/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3500 - accuracy: 0.8553: 0s - loss: 0.3327 - accu
Epoch 17/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3491 - accuracy: 0.8562: 0s - loss: 0.3455 - accuracy: 0.
Epoch 18/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3475 - accuracy: 0.8568
Epoch 19/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3473 - accuracy: 0.8579
Epoch 20/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3464 - accuracy: 0.8589
Epoch 21/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3454 - accuracy: 0.8593
Epoch 22/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3449 - accuracy: 0.8599
Epoch 23/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3444 - accuracy: 0.8606
Epoch 24/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3437 - accuracy: 0.8608: 0s - loss: 0.3447 - accura
Epoch 25/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3430 - accuracy: 0.8614
Epoch 26/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3423 - accuracy: 0.8620
Epoch 27/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3421 - accuracy: 0.8619: 0s - loss: 0.3373 - accura
Epoch 28/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3413 - accuracy: 0.8631: 0s - loss: 0.3473 - accuracy:
Epoch 29/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3411 - accuracy: 0.8627: 0s - loss: 0.3293 - accuracy - ETA: 0s - loss: 0.3433 - accuracy: 0.86
Epoch 30/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3407 - accuracy: 0.8625
Epoch 31/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3403 - accuracy: 0.8634
Epoch 32/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3399 - accuracy: 0.8633
Epoch 33/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3394 - accuracy: 0.8629: 0s - loss: 0.3346 - ac
Epoch 34/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3392 - accuracy: 0.8635
Epoch 35/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3389 - accuracy: 0.8640
Epoch 36/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3388 - accuracy: 0.8639
Epoch 37/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3384 - accuracy: 0.8635
Epoch 38/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3381 - accuracy: 0.8640
Epoch 39/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3379 - accuracy: 0.8631
Epoch 40/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3376 - accuracy: 0.8631: 0s - loss: 0.3363 - accuracy: 0.86
Epoch 41/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3375 - accuracy: 0.8635
Epoch 42/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3371 - accuracy: 0.8635
Epoch 43/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3367 - accuracy: 0.8635: 0s - loss: 0.3306 - accura
Epoch 44/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3368 - accuracy: 0.8620
Epoch 45/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3364 - accuracy: 0.8636: 0s - loss: 0.3354 - ac
Epoch 46/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3362 - accuracy: 0.8624
Epoch 47/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3357 - accuracy: 0.8626
Epoch 48/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3360 - accuracy: 0.8633
Epoch 49/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3355 - accuracy: 0.8615
Epoch 50/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3350 - accuracy: 0.8619: 0s - loss: 0.3313 - accuracy:
Epoch 51/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3356 - accuracy: 0.8631: 0s - loss: 0.3396 -
Epoch 52/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3354 - accuracy: 0.8645
Epoch 53/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3349 - accuracy: 0.8624
Epoch 54/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3347 - accuracy: 0.8634
Epoch 55/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3349 - accuracy: 0.8634
Epoch 56/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3344 - accuracy: 0.8639
Epoch 57/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3340 - accuracy: 0.8634
Epoch 58/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3345 - accuracy: 0.8631
Epoch 59/100
250/250 [==============================] - ETA: 0s - loss: 0.3345 - accuracy: 0.86 - 0s 2ms/step - loss: 0.3338 - accuracy: 0.8626
Epoch 60/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3341 - accuracy: 0.8631
Epoch 61/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3341 - accuracy: 0.8636
Epoch 62/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3334 - accuracy: 0.8637
Epoch 63/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3336 - accuracy: 0.8630
Epoch 64/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3334 - accuracy: 0.8633
Epoch 65/100
250/250 [==============================] - ETA: 0s - loss: 0.3375 - accuracy: 0.8604 ETA: 0s - loss: 0.3293 - accu - 0s 2ms/step - loss: 0.3330 - accuracy: 0.8624
Epoch 66/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3333 - accuracy: 0.8626
Epoch 67/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3334 - accuracy: 0.8634
Epoch 68/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3331 - accuracy: 0.8625
Epoch 69/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3332 - accuracy: 0.8648
Epoch 70/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3331 - accuracy: 0.8634: 0s - loss: 0.3409 - accuracy
Epoch 71/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3330 - accuracy: 0.8643
Epoch 72/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3329 - accuracy: 0.8645
Epoch 73/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3326 - accuracy: 0.8645
Epoch 74/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3327 - accuracy: 0.8624
Epoch 75/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3326 - accuracy: 0.8637
Epoch 76/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3330 - accuracy: 0.8640
Epoch 77/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3326 - accuracy: 0.8640: 0s - loss: 0.3325 - accuracy: 0.86
Epoch 78/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3326 - accuracy: 0.8637
Epoch 79/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3327 - accuracy: 0.8640
Epoch 80/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3324 - accuracy: 0.8635
Epoch 81/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3323 - accuracy: 0.8662
Epoch 82/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3322 - accuracy: 0.8627
Epoch 83/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3324 - accuracy: 0.8634
Epoch 84/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3323 - accuracy: 0.8643
Epoch 85/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3324 - accuracy: 0.8645
Epoch 86/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3324 - accuracy: 0.8659: 0s - loss: 0.3298 - accuracy:
Epoch 87/100
250/250 [==============================] - ETA: 0s - loss: 0.3308 - accuracy: 0.86 - 0s 2ms/step - loss: 0.3319 - accuracy: 0.8639
Epoch 88/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3324 - accuracy: 0.8643
Epoch 89/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3325 - accuracy: 0.8645
Epoch 90/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3321 - accuracy: 0.8641
Epoch 91/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3324 - accuracy: 0.8646
Epoch 92/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3323 - accuracy: 0.8655
Epoch 93/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3321 - accuracy: 0.8649
Epoch 94/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3322 - accuracy: 0.8640
Epoch 95/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3321 - accuracy: 0.8627
Epoch 96/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3319 - accuracy: 0.8645
Epoch 97/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3322 - accuracy: 0.8631
Epoch 98/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3320 - accuracy: 0.8627
Epoch 99/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3321 - accuracy: 0.8643
Epoch 100/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3319 - accuracy: 0.8634

### Predicting a single input

In [142]:
# Geography : France
# Credit Score : 600
# Gender :Male
# Age : 40
# Tenure : 3 years
# Balance $ 600000
# Number of products : 2
# Credit card : yes
# Active member : yes
# estimated salary : $ 50000
pred=ann.predict(sc.transform([[600,40,3,60000,2,1,1,50000,0,0,1]]))
print('Probability that the customer will leave the bank {} %'.format(pred[0][0]*100))

Probability that the customer will leave the bank 2.273845672607422 %

In [143]:
# we can have a threshold to determine a binary outcome or classification
x = 'Yes'
if(pred>0.5):
    pass
else:
    x = 'No'
print('The customer will leave the bank: {}'.format(x))

The customer will leave the bank: No

#### Predicting the test set results

In [144]:
y_pred = ann.predict(X_test_scaled)
y_pred = (y_pred>0.5) # converting probability outcome into binary outcome
print(np.concatenate((y_pred.reshape(len(y_pred),1),y_test_vals.reshape(len(y_test_vals),1)),1))

[[0 0]
 [0 1]
 [0 0]
 ...
 [0 0]
 [0 0]
 [0 0]]

####    Making a confusion matrix

In [145]:
from sklearn.metrics import confusion_matrix, accuracy_score
cm = confusion_matrix(y_test_vals,y_pred)
print(cm)
acc = accuracy_score(y_test_vals,y_pred)
print(acc)

[[1521   74]
 [ 205  200]]
0.8605